{% extends "app/base.html" %}

{% load static %}

{% block title %}{% if form.instance.pk %}Editar Creador{% else %}Añadir Creador{% endif %}{% endblock %}

{% block content %}
    <h2>{% if form.instance.pk %}Editar Creador{% else %}Añadir Creador{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% if form.instance.pk %}Actualizar{% else %}Crear{% endif %}">
    </form>
    <a href="{% url 'creador_list' %}">Cancelar</a>
{% endblock %}
